<form [formGroup]="regForm" (ngSubmit)="regFormSubmit()">
    <input type="text" name="username" id="username" placeholder="username" formControlName="username">
    <br><br>
    <input type="text" name="email" id="email" placeholder="email" formControlName="email">
    <br><br>
    <input type="text" name="password" id="password" placeholder="password" formControlName="password">
    <br><br>
    <button type="submit" [disabled]="regForm.invalid">REGISTER</button>
</form>

<br><br>

<button (click)="login()">GO TO LOGIN PAGE</button>